#map {
  height: 400px;
  width: 100%;
}

.chart {
  height: 100px;
  width: 300px;
  overflow: hidden;
  padding-top: 0px;
}

.title {
	text-align: center;
	font-size: 0.8em;
	padding-bottom: 0px;
}

