@charset "utf-8";

/* flexible page width */
body {padding:0 385px;}
#sizer {width: 100%; max-width: 500px;}
#expander {
position:relative;
margin-left: -385px;
margin-right: -385px;
min-width: 770px;
}
/* \*/
* html #expander, * html #innerwrapper {height: 0;}
/* */ 
#outside {width:92%; min-width:770px; background-image:none;}
#contentcol {padding-left:0;}
