@charset "utf-8";

/* print styles */
body {
width: 95%;
padding:1.5em;
font-size: 12pt;
font-family:"Times New Roman", Times, serif;
position:static;
}
#skip, #tools, #links, #topnav, #pstrip, #navcol, #menu, #menu-flyout {display:none;}
#sizer {
max-width:none;
}
#expander {
position:static;
margin:0;
min-width: inherit;
}
#outside {
width:100%;
background-image:none;
overflow:visible;
min-width: inherit;
}
#contentcol {padding:0;}
#section {height:1.4em;}
#content {
margin:0;
margin-top:0;
padding:1em;
}