@charset "utf-8";

/* print styles */
body {
width: 95%;
padding:1.5em;
font-size: 12pt;
font-family:"Times New Roman", Times, serif;
position:static;
}
#skip {display:none;}
#sizer {
max-width:none;
}
#expander {
position:static;
margin:0;
min-width: inherit;
}
#outside {
width:100%;
background-image:url(/img/column-bg-print.gif);
overflow:visible;
min-width: inherit;
}
#menu a, #menu-flyout a, #addon, #addon a {
color:#000;
background-color:#ddd;
}
