div {
	font-family: 'Open Sans', sans-serif;	
	padding: 0.5em;
}



.main_div {
	display:inline-block;
	width: 100%;
	font-size : 1em;
}

.watch_div {
	display:inline-block;
	width:100%;
	font-size : 2.2em;
}

.hue_div {
	display:inline-block;
	font-size : 2.2em;
	width: 100%;
	overflow: hidden;
}

.poster_div {
	width: 95%;
	float: left;
	font-size : 1.5em;
	text-align: right;
}