body, p, button {
    font-family: Tahoma, Geneva, sans-serif;
}
button {
    font-size: 100%;
    background-color: #ffcdcd;
}
/* So that 'reveal code' button appears to the right of the title. */
h1 {
    display: inline;
}
/* So that 'react to inputs' button appears to the right of the table title. */
.tableTitle {
    display: inline;
}
/* So that there is spacing before the table titles. */
.tableTitle:before {
    margin-top: 10px;
}
/* Table style. */
th {
    background-color: #252c58;
    color: #f8da73;
    text-align: left;
    padding: 3px;
    border: 1px solid lightgrey;
}
table {
    width: 100%;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    margin-bottom: 15px;
}
td {
    border: 1px solid lightgrey;
    padding: 3px;
}
tr {
    background-color: #f5f5f5;
}
tr:hover {
    background-color: #ffffcc;
}
/* Song and dance here required to get table cell to stretch, but not overrun the border. */
.valueInputBox {
    font-size: 100%;
    display:table-cell;
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
/* Ensure that documentation doesn't occupy more than 50% of the width of the table. */
.documentation {
    width: 50%;
}

/* Style for class description. */
.description {
    background-color: #f5f5f5;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    box-shadow: 10px 10px 5px grey;
}

/* Style for contained accessors. */
.containedAccessor {
    background-color: #eeffee;
    border: 1px solid black;
    padding: 10px;
}

/* Style for pretty printed JavaScript. */
.prettyprint {
    background-color: #eeffff;
}

/* Style for error messages. */
.error {
    color: #cc1111;
}

/* Style for warning messages. */
.warning {
    color: #991111;
}

/* Put buttons at the right. */
#revealCode, #reactToInputs {
    float: right;
}

/* For expandable list of accessors. */
#listContainer{
  margin-top:15px;
}
 
#expandableList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#expandableList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
 
/* Collapsed state for list element */
#expandableList .collapsed {
    background-image: url(/image/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expandableList .expanded {
    background-image: url(/image/expanded.png);
}
