/* Following are for building a complete web page.
 * Do not use this with the TerraSwarm site, since it will conflict.
 */
body {
    margin: 0;
}

#container {
    margin: 0;
    height: auto;
}

#navcol {
    position: absolute;
    width: 220px;
    height: 100%;
    background-color: #252c58;
    color: #f8da73;
    padding: 10px;
    margin: 0;
}

#contentcol {
    padding-left: 230px;
    margin-left: 20px;
    max-width: 1100px;
    height: auto;
}

div.header {
    padding: 10px;
    color: #f8da73;
    background-color: #252c58;
    clear: left;
}

div.header a:link, div.header a:visited {
    color: #f8da73;
    text-decoration: none
}

div.header a:hover, div.header a:active {
    color: #f8da73;
    text-decoration: underline
}

body, p, button {
    font-family: Tahoma, Geneva, sans-serif;
}

/********** Following are specifically for accessor displays. *********/

/* Consistency with buttons. */
button {
    font-size: 100%;
    background-color: #f8da73;
}
/* So that 'reveal code' button appears to the right of the title. */
#accessorTitle {
    display: inline;
}
/* So that 'react to inputs' button appears to the right of the table title. */
.accessorTableTitle {
    display: inline;
}
/* So that there is spacing before the table titles. */
.accessorTableTitle:before {
    margin-top: 10px;
}
/* Table style. */
th {
    background-color: #252c58;
    color: #f8da73;
    text-align: left;
    padding: 3px;
    border: 1px solid lightgrey;
}
table {
    width: 100%;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    margin-bottom: 15px;
}
td {
    border: 1px solid lightgrey;
    padding: 3px;
}
tr {
    background-color: #f5f5f5;
}
tr:hover {
    background-color: #ffffcc;
}
/* Song and dance here required to get table cell to stretch, but not overrun the border. */
.valueInputBox {
    font-size: 100%;
    display:table-cell;
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
/* Ensure that documentation doesn't occupy more than 50% of the width of the table. */
.documentation {
    width: 50%;
}

/* Style for class description. */
.description {
    background-color: #f5f5f5;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    box-shadow: 10px 10px 5px grey;
}

/* Style for contained accessors. */
.containedAccessor {
    background-color: #eeffee;
    border: 1px solid black;
    padding: 10px;
}

/* Style for pretty printed JavaScript. */
.prettyprint {
    background-color: #eeffff;
}

/* Style for error messages. */
.error {
    color: #cc1111;
}

/* Style for warning messages. */
.warning {
    color: #991111;
}

/* Put buttons at the right. */
#revealCode, #reactToInputs {
    float: right;
}


