html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

.accessorDocumentation {
	width: 40%;
}

.accessorTable th {
	background-color: #003262;
}

.accessorTableHeader, .accessorTableData {
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.accessorTableTitle {
	font-size: 1.2em;
	margin: 0.1em;
}

.codebox {
	display: block;
	padding: 1em;
}

.codeText {
	font-family: monospace;
	font-size: 1.2em;
}

.CodeMirror {
	border-top: 1px solid black;
    border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom:  1px solid lightgray;
}

.copy {
	float: right;
	width: 40%;
}

.description p {
	font-face: sans-serif;
	margin: 1em;
}

.error {
	color: #b22222;
	font-weight: bold;
	float: right;
}

.errorMessage {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom:  1px solid black;
	color: #b22222;
	padding : 0.5em;
}

.success {
	background-color: #eeeeee;
	color: #0F325E;
	padding: 0.6em;
}

.successMessage {
	float: left;
}

.tutorialButton {
	padding: 3px 12px;
	font-size: 1em;
	background-color: #0F325E;
	border-radius: 8px;
	color: #ffffff;
	border: 1px gray;
	text-align: center;
	text-decoration: none;
	float: right;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.tutorialButton:hover {
	background-color: #3A8AB6;
}

#accessorboxRevealCode, #accessorboxDocumentation {
	display: none;
}

#accessorboxTables {
	float: left;
	margin: 0.1em;
	padding: 0.1em;
}

#accessorTitle {
	font-size: 1.5em;
}

#nextButton {
	display: none;
}

#menuDiv {
	background-color: #0F325E;
	border: none;
	color: #ffffff;
	border-bottom: none;
	border-right: none;
	font-size: 0.9em;
}

#menuDiv a:link {
	color: #ffffff !important;
}

#menuDiv a:visited {
	color: #F4DB82 !important;
}

#menuDiv a:hover {
	color: #F4DB82 !important;
	font-weight: bold;
}

#menuDiv a:active {
	color: #F4DB82 !important;
}

#menuTable {
	border: none;
	border-collapse: separate;
}

#menuTable td {
	border: none;
	padding: 10px;
}







