<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ble-advertise" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>BLEAdvertise</name><js-module name="BLEAdvertise" src="www/BLEAdvertise.js"><clobbers target="cordova.plugins.BLEAdvertise" /></js-module>

<platform name="android">
<framework src="com.uriio:beacons-android:1.5.1"/>
<config-file parent="/*" target="res/xml/config.xml"><feature name="BLEAdvertise"><param name="android-package" value="cordova-plugin-ble-advertise.BLEAdvertise" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/BLEAdvertise.java" target-dir="src/cordova-plugin-ble-advertise/BLEAdvertise" />
</platform>
</plugin>
