#map {
  height: 400px;
  width: 100%;
  padding-bottom: 10px;
}

.chart {
  height: 500px;
  width: 500px;
  overflow: hidden;
  padding-top: 0px;
}

.title {
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	padding-bottom: 0px;
}

